body{
  box-sizing: border-box;
  background: url(https://images.unsplash.com/photo-1505575967455-40e256f73376?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d17b6df4cb810b6860782351027b766&auto=format&fit=crop&w=2468&q=80) center no-repeat;
  background-size: cover;
  min-height: 100vh; //vertical height
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Raleway, sans-serif;
}
*, *:before, *:after {box-sizing: inherit;}

.container {

}

.recipeBtn {
 padding-top: 20px;
}

.card {
  background: black;
  color: white;
  font-size: 1.2em;
 } 

 h1 {
  color: #37b6ac;
  font-family: Homemade Apple, cursive;
  font-size: 8em;
  padding-bottom: 10px
 }
 .card-content {
  color:#37b6ac;
}
.collapsible-header{
  color: #37b6ac;
}

.brand-logo{
  color: #37b6ac;
  font-family: Homemade Apple, cursive;
}

#title {
  color: #37b6ac;
}