<html>
<head>

<meta charset="UTF-8">
  <title>Appetize!</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Raleway" rel="stylesheet">

  
  <link rel='stylesheet prefetch'  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


      <link rel="stylesheet" href="app.css">
</head>

<body>
 <header>
  <nav class="nav-wrapper red lighten-1">
    <div class="container">
 <!-- 
 tried to add search bar, but ran into issues.      

        <div class="input-field">
          <input id="search" type="search" ng-model="searchText" placeholder="Find an appetizer!" required>
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
        </div> -->

      <a href="#" id="title"class="brand-logo center">Appetize!</a>
      <a href="#" class="sidenav-trigger" data-target="mobile-links">
        <i class="material-icons right">menu</i>
      </a>
      <ul class= "right hide-on-med-and-down">
        <li><a href="#" class="">Home</a></li>
        <li><a href="#" class="">About</a></li>
        <li><a href="#" class="">Contact</a></li>
        <li><a href="#" class="">links</a></li>
      </ul>
    </div>
  </nav><!-- end of nav -->

    <ul class="sidenav" id="mobile-links">
      <li><a href="#" class="">Home</a></li>
      <li><a href="#" class="">About</a></li>
      <li><a href="#" class="">Contact</a></li>
      <li><a href="#" class="">Links</a></li>
      <li><a href="#" class="">Login</a></li>
    </ul>
  </header>

<!--   <h1>Appetize!</h1> -->
  <div ng-app="recipeBoxApp" ng-controller="recipeBoxCtrl">

 <div class="container">
  <!-- Row is devided in the list of recipes and add a new one -->
  <div class="row">
   <!-- Left - list with edit/delete-->
 <!--   <div class="col-xs-8">
    <ul class="collapsible" data-collapsible="accordion">
     <li ng-repeat="recipe in recipeList | filter track by $index">
      <div class="collapsible-header">{{recipe.title}}</div>
      <div class="collapsible-body">
       <div>{{recipe.ingredients}}</div>
       <div class="recipeBtn">
        <button ng-click="editRecipe($index)">Edit</button>
        <button ng-click="deleteRecipe($index)">Delete</button>
       </div>
      </div>
     </li>
    </ul>
   </div> -->

   <!-- Right - add recipe -->
   <div class="col-6 z-depth-3">
    <div class="card ">
     <div class="card-content">
      New Appetizer 
      <form ng-submit="addRecipe()">
       <div class="input-field">
        <input type="text" ng-model="newRecipe" placeholder="Name" class="white-text">
       </div>
       <div class="input-field">
        <input type="text" ng-model="newIngredients" placeholder="Ingredients (use commas to seperate!)" class="white-text">
       </div>
       <a href="#" ng-click="addRecipe()" class="btn red lighten-1 waves-effect waves-light">
         <span>Add</span>
         <i class="material-icons white-text right">local_dining</i>
       </a>      
       <!-- <button type="submit">Add</button> -->
      </form>
     </div>
    </div>
   </div> <!-- column -->

     <div class="col-6 z-depth-3">
    <ul class="collapsible" data-collapsible="accordion">
     <li ng-repeat="recipe in recipeList | filter track by $index">
      <div class="collapsible-header amber lighten-5">{{recipe.title}}</div>
      <div class="collapsible-body black">
       <div class="amber-text lighten-2">{{recipe.ingredients}}</div>
       <div class="recipeBtn">
        <a href="#" ng-click="editRecipe($index)" class="btn red lighten-1 waves-effect waves-light">
           <span>Edit</span>
           <i class="material-icons white-text right">edit</i>
        </a>
          <a href="#" ng-click="deleteRecipe($index)" class="btn red lighten-1 waves-effect waves-light">
           <span>Delete</span>
           <i class="material-icons white-text right">delete</i>
        </a>
       </div>
      </div>
     </li>
    </ul>
   </div><!-- col 6 -->
  </div> <!-- row -->
 </div> <!--container -->
</div> <!-- app -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'></script>
<script src="app.js"></script>



</body>
</html>

<!-- 
  <input type="text" class="user-input-title" placeholder="Enter the Title">
  <textarea class="user-input-body" placeholder="Enter the body of text"></textarea>

  <button class="add-text-btn">add text</button>
  <button class="del-text-btn">delete text</button>
  
  <div class="display"></div>
 -->